<div ng-show="success">
    <div class="alert alert-success alert-dismissable">
        <div class="row">
            <div class="col-xs-12">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <p>Your message was saved successfully &mdash;</p>
                <p>Access it at the URL below; or <a href="{{delete_url}}">delete it now</a>.</p>
                <br />
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 text-center">
                <qrcode data="{{read_url}}" href="{{read_url}}" error-correction-level="H" version="16" size="96" download></qrcode>
            </div>
            <div class="col-xs-11">
                <input id="read_url" name="read_url" value="{{read_url}}" class="form-control" /><br />
                <button class="btn btn-default copy" ngclipboard data-clipboard-action="copy" data-clipboard-target="#Message_URL">Copy Message URL</button><br /><br />
            </div>
        </div>
    </div>
</div>
<form id="form-create" name="form-create" method="post" novalidate="novalidate" ng-submit="submit()">
    <div class="row">
        <div class="col-xs-12">
            <label for="message-text">New Message:</label>
            <textarea id="message-text" name="message-text" rows="6" class="form-control" ng-model="message.text" ng-required="true"></textarea>
            <br />
            <a class="btn btn-default" role="button" data-toggle="collapse" href="#options" aria-expanded="false" aria-controls="options">+ Message Options</a>
            <br /><br />
            <div class="collapse" id="options">
                <div class="well">
                    <div class="form-group">
                        <label for="create-id-length">Message MID Length {16, ..., 256}</label>
                        <input type="number" id="create-id-length" name="create-id-length" min="8" max="256" placeholder="16" value="16" ng-model="message.mid_length" ng-required="true" />
                        <span ng-show="NewMessageForm.NewMessage_MIDLength.$error.min" class="text-danger"><?php print ERROR_MESSAGE_ID_TOO_SHORT; ?></span>
                        <span ng-show="NewMessageForm.NewMessage_MIDLength.$error.max" class="text-danger">Message MID Length must be less than or equal to <?php print MESSAGE_MID_LENGTH_MAX; ?></span>
                        <span ng-show="NewMessageForm.NewMessage_MIDLength.$error.number" class="text-danger">Message MID Length must be a valid integer between <?php print MESSAGE_MID_LENGTH_MIN; ?> and <?php print MESSAGE_MID_LENGTH_MAX; ?> (inclusive).</span>
                        <span ng-show="NewMessageForm.NewMessage_MIDLength.$error.required" class="text-danger"><?php print ERROR_MESSAGE_ID_NULL_OR_EMPTY; ?></span>
                    </div>
                    <div class="form-group">
                        <label for="create-key-length">Message Key Length {16, ..., 256}</label>
                        <input type="number" id="create-key-length" name="create-key-length" min="16" max="256" placeholder="16" value="16" ng-model="message.key_length" ng-required="true" ng-change="generate_key()" />
                        <span ng-show="NewMessageForm.NewMessage_KeyLength.$error.min" class="text-danger">Message Key Length must be greater than or equal to <?php print MESSAGE_KEY_LENGTH_MIN; ?>.</span>
                        <span ng-show="NewMessageForm.NewMessage_KeyLength.$error.max" class="text-danger">Message Key Length must be less than or equal to <?php print MESSAGE_KEY_LENGTH_MAX; ?>.</span>
                        <span ng-show="NewMessageForm.NewMessage_KeyLength.$error.number" class="text-danger">Message Key Length must be a valid integer between <?php print MESSAGE_KEY_LENGTH_MIN; ?> and <?php print MESSAGE_KEY_LENGTH_MAX; ?> (inclusive).</span>
                        <span ng-show="NewMessageForm.NewMessage_KeyLength.$error.required" class="text-danger"><?php print ERROR_MESSAGE_KEY_NULL_OR_EMPTY; ?></span>
                    </div>
                    <div class="form-group">
                        <label for="create-key">Message Key</label>
                        <input type="text" id="create-key" name="create-key" ng-model="message.key" ng-maxlength="message.key_length" />
                    </div>
                    <div class="form-group">
                        <label for="create-ttl">Message Time-to-Live (min) {60, ..., 1440}</label>
                        <input type="number" id="create-ttl" name="create-ttl" min="60" max="1440" ng-model="message.ttl" ng-required="true" />
                        <span ng-show="NewMessageForm.NewMessage_TTL.$error.min" class="text-danger">Message Time-to-Live must be greater than or equal to <?php print MESSAGE_TTL_MIN; ?></span>
                        <span ng-show="NewMessageForm.NewMessage_TTL.$error.max" class="text-danger">Message Time-to-Live must be less than or equal to <?php print MESSAGE_TTL_MAX; ?></span>
                        <span ng-show="NewMessageForm.NewMessage_TTL.$error.number" class="text-danger">Message Time-to-Live must be a valid integer between <?php print MESSAGE_TTL_MIN; ?> and <?php print MESSAGE_TTL_MAX; ?> (inclusive).</span>
                        <span ng-show="NewMessageForm.NewMessage_TTL.$error.required" class="text-danger">Message Time-to-Live must not be empty (or null).</span>
                    </div>
                </div>
            </div>
            <input type="submit" id="submit" name="submit" class="btn btn-primary" value="&rarr; Save Message" ng-disabled="CreateForm.$invalid" />
        </div>
    </div>
</form>


